@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    src: local('JetBrains Mono'), url('/fonts/JetBrains\ Mono\ Regular.woff2') format('woff2');
}
@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    src: local('JetBrains Mono'), url('/fonts/JetBrains\ Mono\ Bold.woff2') format('woff2');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 100;
    src: url('/fonts/FiraSans-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Fira Sans';
    font-style: bold;
    font-weight: 700;
    src: url('/fonts/FiraSans-Bold.otf') format('opentype');
}
