*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  display: block;
  background-color: #fff;
  color: #383838;
  font-display: swap;
  font-weight: 400;
  font-size: 14px;
  font-family: "JetBrains Mono", monospace;
  line-height: 1.725;
  text-rendering: geometricPrecision;
  flex: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@media only screen and (max-width: 800px) {
    body {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.max-width {
  max-width: 48rem;
}

.site-header {
  width: 100%;
  max-width: 80ch;
  margin-bottom: 1.5rem;
  margin-top: 1ch;
}
.site-header > nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}
.site-header .-title {
  flex-grow: 2;
}
.site-header a {
  font-style: normal;
  margin-left: 1ch;
  margin-right: 1ch;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.site-header a:hover {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: underline;
}
.site-header a.-title {
  font-size: 1.25em;
}

.site-footer {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  max-width: 80ch;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2rem;
  padding-left: 1ch;
  padding-right: 1ch;
}
.site-footer > p {
  margin-bottom: 0;
}
.site-footer a {
  padding-left: 2ch;
  font-style: normal;
  text-decoration: none;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.8);
}
.site-footer .fa {
  vertical-align: middle;
  color: rgba(0, 0, 0, 0.8);
}

/* Home */

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-top: 1em;
}
.post-list h2 {
  margin-top: 0;
}
.post-list a {
  display: block;
  text-decoration: none;
  color: #2bbc8a;
}
.post-list a:hover {
  color: #2bbc8a;
  text-decoration: underline;
}

.post-meta {
  color: #828282;
  margin-top: -0.5em;
  padding-bottom: 1.5em;
}

.avatar > img {
    float: left;
    margin-right: 1em;
}

/* Code */

code,
pre {
    font-family: "JetBrains Mono", monospace;
}
code, .listingblock>.content>pre:not(.highlight) {
    font-variant-ligatures: none;
    color: rgba(0, 0, 0, .9);
    font-size: 0.9em;
    line-height: 1.5em;
}
p>code {
    white-space: nowrap;
}

table.linenotable td.linenos {
    border-right: 1px solid currentColor;
    opacity: .35;
    padding-right: .5em;
}
table.linenotable td.code {
    padding-left: .75em;
}

pre.rouge table td { padding: 5px; }
pre.rouge table pre { margin: 0; }
pre.rouge .cm {
  color: #999988;
  font-style: italic;
}
pre.rouge .cp {
  color: #999999;
  font-weight: bold;
}
pre.rouge .c1 {
  color: #999988;
  font-style: italic;
}
pre.rouge .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
pre.rouge .c, pre.rouge .ch, pre.rouge .cd, pre.rouge .cpf {
  color: #999988;
  font-style: italic;
}
pre.rouge .err {
  color: #a61717;
  background-color: #e3d2d2;
}
pre.rouge .gd {
  color: #000000;
  background-color: #ffdddd;
}
pre.rouge .ge {
  color: #000000;
  font-style: italic;
}
pre.rouge .gr {
  color: #aa0000;
}
pre.rouge .gh {
  color: #999999;
}
pre.rouge .gi {
  color: #000000;
  background-color: #ddffdd;
}
pre.rouge .go {
  color: #888888;
}
pre.rouge .gp {
  color: #555555;
}
pre.rouge .gs {
  font-weight: bold;
}
pre.rouge .gu {
  color: #aaaaaa;
}
pre.rouge .gt {
  color: #aa0000;
}
pre.rouge .kc {
  color: #000000;
  font-weight: bold;
}
pre.rouge .kd {
  color: #000000;
  font-weight: bold;
}
pre.rouge .kn {
  color: #000000;
  font-weight: bold;
}
pre.rouge .kp {
  color: #000000;
  font-weight: bold;
}
pre.rouge .kr {
  color: #000000;
  font-weight: bold;
}
pre.rouge .kt {
  color: #445588;
  font-weight: bold;
}
pre.rouge .k, pre.rouge .kv {
  color: #000000;
  font-weight: bold;
}
pre.rouge .mf {
  color: #009999;
}
pre.rouge .mh {
  color: #009999;
}
pre.rouge .il {
  color: #009999;
}
pre.rouge .mi {
  color: #009999;
}
pre.rouge .mo {
  color: #009999;
}
pre.rouge .m, pre.rouge .mb, pre.rouge .mx {
  color: #009999;
}
pre.rouge .sb {
  color: #d14;
}
pre.rouge .sc {
  color: #d14;
}
pre.rouge .sd {
  color: #d14;
}
pre.rouge .s2 {
  color: #d14;
}
pre.rouge .se {
  color: #d14;
}
pre.rouge .sh {
  color: #d14;
}
pre.rouge .si {
  color: #d14;
}
pre.rouge .sx {
  color: #d14;
}
pre.rouge .sr {
  color: #009926;
}
pre.rouge .s1 {
  color: #d14;
}
pre.rouge .ss {
  color: #990073;
}
pre.rouge .s, pre.rouge .sa, pre.rouge .dl {
  color: #d14;
}
pre.rouge .na {
  color: #008080;
}
pre.rouge .bp {
  color: #999999;
}
pre.rouge .nb {
  color: #0086B3;
}
pre.rouge .nc {
  color: #445588;
  font-weight: bold;
}
pre.rouge .no {
  color: #008080;
}
pre.rouge .nd {
  color: #3c5d5d;
  font-weight: bold;
}
pre.rouge .ni {
  color: #800080;
}
pre.rouge .ne {
  color: #990000;
  font-weight: bold;
}
pre.rouge .nf, pre.rouge .fm {
  color: #990000;
  font-weight: bold;
}
pre.rouge .nl {
  color: #990000;
  font-weight: bold;
}
/* pre.rouge .nn {
  color: #555555;
} */
pre.rouge .nt {
  color: #000080;
}
pre.rouge .vc {
  color: #008080;
}
pre.rouge .vg {
  color: #008080;
}
pre.rouge .vi {
  color: #008080;
}
pre.rouge .nv, pre.rouge .vm {
  color: #008080;
}
pre.rouge .ow {
  color: #000000;
  font-weight: bold;
}
pre.rouge .o {
  color: #000000;
  font-weight: bold;
}
pre.rouge .w {
  color: #bbbbbb;
}

blockquote > div {
    padding-left: 7px;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
}

img, object, svg, video {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
