@font-face {
    font-family: "Monaspace Neon";
    src: url(../assets/fonts/MonaspaceNeon-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monaspace Neon";
    src: url(../assets/fonts/MonaspaceNeon-Bold.woff);
    font-weight: bold;
    font-style: normal;
}

:root {
    --bg-color: #ffffff;

    --navbar-text-color: #000000cc;
    --primary-text-color: #383838;
    --secondary-text-color: #828282;
    --tertiary-text-color: #555353;
    --quote-color: #8ED5E5;
    --quote-bg-color: #8ED5E535;
    --post-text-color: #66cc99;

    --tip-bg-color: #6c95bd;
    --warn-bg-color: 253, 251, 114;
    --note-bg-color: 255, 209, 172;

    --code-border-color: #eeeeee;
    --code-language-text-color: #a04100;
    --code-language-bg-color: #ffd1ac;
    --code-lang-tag-background-color: #ffffff;

    --inline-code-text-color: #000000;
    --inline-code-bg-color: #f8f8f8;
    --inline-code-border-color: #dbdada;

    --post-meta-badge-text: #ffffff;
    --post-meta-badge-background: #d7d7d7;

    --dialog-professor-bg-color: 102, 204, 153;
    --dialog-cop-bg-color: 255, 205, 2;
    --dialog-matt-bg-color: 227, 227, 227;

    --timeline-color: #ead9d9;

    --separator: #b0b0b0;
}

[data-theme="dark"] {
    --bg-color: #211f1f;

    --navbar-text-color: #ffffff;
    --primary-text-color: #e2e2e2;
    --secondary-text-color: #b39393;
    --tertiary-text-color: #b0b0b0;
    --quote-color: #8ED5E560;
    --quote-bg-color: #8ED5E520;
    --post-text-color: #66cc99;

    --tip-bg-color: #6c95bd;
    --warn-bg-color: 253, 251, 114;
    --note-bg-color: 255, 209, 172;

    --code-border-color: #2b1f1f;
    --code-language-text-color: #c97030;
    --code-language-bg-color: #323232;
    --code-lang-tag-background-color: #282828;

    --inline-code-text-color: #d2c5a5;
    --inline-code-bg-color: #282828;
    --inline-code-border-color: #383838;

    --post-meta-badge-text: #858585;
    --post-meta-badge-background: #3a3a3a;

    --dialog-professor-bg-color: 132, 194, 113;
    --dialog-cop-bg-color: 255, 205, 2;
    --dialog-matt-bg-color: 117, 117, 117;

    --timeline-color: #372f2f;

    --separator: #383838;
}

body {
    background-color: var(--bg-color);
    font-weight: 400;
    font-size: 1.1em;
    font-family: 'Aleo', serif;
    line-height: 1.6;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

/* Hide Scrollbar */

body::-webkit-scrollbar{
    display: none;
}

html {
    scrollbar-width: none;
}

.listingblock .content {
    font-size: .9em;
}

main {
    color: var(--primary-text-color);
}

svg.feather.feather-moon {
    width: 20px;
    height: 20px;
    fill: none;
    stroke-width: 2px;
    stroke: var(--primary-text-color);
    stroke: var(--primary-text-color);
    stroke-linecap: round;
    stroke-linejoin: round;
}

svg.feather.feather-sun {
    width: 20px;
    height: 20px;
    fill: none;
    stroke: var(--primary-text-color);
    stroke-width: 2px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.logo svg path, .dialog svg path {
    fill: var(--primary-text-color);
}

a {
    color: var(--post-text-color);
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

nav .-title {
    flex-grow: 1;
}

nav .-title #name {
    max-width: 230px;
}

nav .-title #icon {
    max-width: 90px;
    overflow: auto;
    resize: both;
}

nav .-title .logo {

    display: flex;
}

@media screen and (max-width: 540px) {
    nav .-title #name {
        display: none;
    }
}

nav a {
    font-size: 0.9em;
    font-style: normal;
    margin-right: 1ch;
    line-height: 1.5rem;
    color: var(--navbar-text-color);
    text-decoration: none;
}

nav a:hover {
    color: var(--navbar-text-color);
    text-decoration: underline;
}

footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--separator);
    margin-top: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    padding-right: 2ch;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
    color: var(--navbar-text-color);
}

footer .fa {
    vertical-align: middle;
    color: var(--navbar-text-color);
}

article h1 {
    font-family: 'Aleo';
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.1;
    color: var(--post-text-color);
    margin: 25px 0 5px 0;
}

.toggle {
    background: transparent;
    border: transparent;
}

.d-none {
    display: none;
}

[data-theme='light'] .d-block-light,
[data-theme='dark'] .d-block-dark {
    display: block !important;
}

/* Home */
.post-list {
    list-style: none;
    padding: 0 10px;
}

.post-list li {
    margin-top: 1em;
}

.post-list h2 {
    margin-top: 0;
}

.post-list a {
    font-family: 'Aleo';
    font-size: 30px;
    line-height: 1.1;
    font-weight: 900;
    display: block;
    text-decoration: none;
    color: var(--post-text-color);
}

.post-list a:hover {
    text-decoration: underline;
}

.post-meta {
    display: flex;
    flex: content;
    align-items: center;
    padding: 5px 0px;
    gap: 7px;
}

.post-meta-date {
    color: var(--secondary-text-color);
    font-size: .8em;
}

.post-meta-badge {
    color: var(--post-meta-badge-text);
    border-radius: 5px;
    padding: 0px 4px;
    background-color: var(--post-meta-badge-background);
    font-size: .7em;
    font-weight: 800;
}

.avatar>img {
    float: left;
    margin-right: 1em;
}

blockquote {
    margin: 0;
}

blockquote>div {
    padding: 1px 15px 1px 15px;
    border-top-left-radius: 0em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0em;
    background-color: var(--quote-bg-color);
    border-left: 3px solid var(--quote-color);
}

img,
object,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
}

svg {
    margin: 0;
}

/* Code Blocks */

code {
    font-family: 'Monaspace Neon', monospace;
}

pre {
    overflow-x: auto;
    border-radius: 0.5em;
    border: 1px solid var(--code-border-color);
    background-color: var(--code-lang-tag-background-color);
}

pre code {
    font-size: .84rem;
    font-weight: 400;
    line-height: 1.5;
    display: block;
    padding: 0.5em;
    clear: both;
}

p {
    word-break: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.paragraph p {
    text-align: justify;
    margin: 16px 0px;
}

.position p {
    text-align: justify;
}

p code {
    padding: 0.2em;
    font-size: 15px;
    font-weight: 400;
    border-radius: 0.2em;
    color: var(--inline-code-text-color);
    background-color: var(--inline-code-bg-color);
    border: 1px solid var(--inline-code-border-color);
}

.discuss-on-hn a {
    color: #ED702D;
}

.lang-tag {
    display: flex;
    float: left;
    font-weight: bold;
    padding: 0.2em 0.5em;
    text-transform: capitalize;
    color: var(--code-language-text-color);
    background: var(--code-language-bg-color);
    border-radius: 0px 0px 10px 0px;
}

.tip {
    background-color: #7fffd4;
    padding: 1em;
    border-radius: 0.5em;
    border: 0.1em solid #faebd7;
    margin-bottom: 0.1em;
}

.openblock {
    border-radius: 0.4em;
    padding: 0 0.7em;
}

.openblock p {
    padding: 10px 15px;
}

.note {
    background-color: rgba(var(--note-bg-color), 0.424);
    /*border: 2px solid rgb(var(--note-bg-color)); */
}

.warn {
    background-color: rgba(var(--warn-bg-color), 0.227);
    border: 2px solid rgb(var(--warn-bg-color));
}

main {
    margin: 0 10px;
}

/* PROJECT SECTION */

.project h2 {
    margin: 25px 0 0 0;
}

.project span {
    margin-right: 5px;
}

.project p {
    margin: 10px 0 0 0;
    color: var(--secondary-text-color);
}

.positions-container {
    position: relative;
    margin: 0 auto;
}

.positions-container::before {
    content: '';
    position: absolute;
    width: 1px;
    background-color: var(--timeline-color);
    top: 22px;
    bottom: 0;
    left: 0%;
    margin-left: 3px;
}

.position {
    padding-left: 20px;
    padding-right: 16px;
    position: relative;
}

.position::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    left: -1.6px;
    top: 10px;
    background-color: var(--timeline-color);
    border-radius: 50%;
    z-index: 1;
}

.position.current::after {
    background-color: var(--post-text-color);
}

.position h3 {
    margin: 25px 0 0 0;
}

.position h4 {
    margin: 0 0 5px 0;
    color: var(--tertiary-text-color);
}

.position span {
    font-size: .9em;
    color: var(--tertiary-text-color);
}

.position span i {
    margin-right: 10px;
    margin-bottom: 10px;
}

.position p {
    color: var(--secondary-text-color);
    margin-top: 0;
    margin-bottom: 12px;
}

.position ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: circle;
}

.contribution {
    padding-right: 16px;
    padding-left: 10px;
}

.contribution h3 {
    margin: 25px 0 0 0;
}

.contribution h4 {
    margin: 0 0 5px 0;
    color: var(--tertiary-text-color);
}

.contribution span {
    color: var(--tertiary-text-color);
}

.contribution span i {
    margin-right: 10px;
    margin-bottom: 0px;
}

.contribution p {
    color: var(--secondary-text-color);
    margin-top: 0;
}

#year {
    font-family: 'Aleo';
    font-size: 3rem;
    font-weight: 900;
    margin-top: 0.7em;
}

.dialog {
    display: flex;
    flex-direction: row;
    align-items: start; 
    margin: 10px 0px;
}

.dialog p {
    margin: 10px;
    text-align: justify;
}

.dialog.matt {
    flex-direction: row-reverse;
}

.dialog .dialog-head {
    align-self: flex-start;
    flex-basis: 48px;
    width: 48px;
    height: 48px;
    margin: 0.2rem 0.4rem;
    flex-shrink: 0;
}

.dialog.matt .dialog-head {
    flex-basis: 68px;
    width: 68px;
    height: 48px;
}

.dialog .dialog-text {
    max-width: 400px;
    line-height: 1.3;
    border-radius: 14px;
    padding: 0rem 0.8rem;
    overflow: hidden;
    margin: 0;
}

.dialog.matt .dialog-text {
    background-color: rgba(var(--dialog-matt-bg-color), 0.2);
    border: rgba(var(--dialog-matt-bg-color), 1.0) 1px solid;
}

.dialog.cop .dialog-text {
    background-color: rgba(var(--dialog-cop-bg-color), 0.2);
    border: rgba(var(--dialog-cop-bg-color), 1.0) 1px solid;
}

.dialog.professor .dialog-text {
    background-color: rgba(var(--dialog-professor-bg-color), 0.2);
    border: rgba(var(--dialog-professor-bg-color), 1.0) 1px solid;
}

.charts-container {
    font-family: Arial, sans-serif;
    font-weight: 900;
}

@media (min-width: 620px) {
    .charts-container {
        display: flex;
    }
}

.chart-single-container {
    text-align: center;
    margin: 0 auto;
}

.patreon-block {
    margin: 40px 0px;
    background-color: #EC633E;
    padding: 3px 15px;
    border-radius: 25px;
    color: #181818;
}

.patreon-block a {
    color: #181818;
}

.threads .thread:nth-child(n+2) {
    border-top: #372f2f 2px solid;
    padding-top: 5px;
}

.thread h3 {
    margin: 0px;
    padding: 10px 0px 0px 0px;
}

.thread .date {
    font-size: .84em;
    color: gray;
}