body {
    font-weight: 400;
    font-size: 1em;
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 1.3;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-rendering: geometricPrecision;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

main {
    color: #383838;
}

p {
    font-family: 'Alegreya Sans';
    font-size: 1.1em;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 10px;
}

nav .-title {
    flex-grow: 2;
    font-weight: 700;
    font-size: 1.2em;
}

nav a {
    font-style: normal;
    margin-right: 1ch;
    line-height: 1.5rem;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

nav a:hover {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: underline;
}

nav a.-title {
    font-size: 1.25em;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    padding-right: 2ch;
    font-style: normal;
    text-decoration: none;
    white-space: nowrap;
    color: rgba(0, 0, 0, 0.8);
}

footer .fa {
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.8);
}

article {
    font-family: 'Gentium Basic';
    font-size: 1.1em;
}

article h1 {
    margin: 25px 0 5px 0;
}

/* Home */
.post-list {
    list-style: none;
    padding: 0 10px;
}

.post-list li {
    margin-top: 1em;
}

.post-list h2 {
    margin-top: 0;
}

.post-list a {
    display: block;
    text-decoration: none;
    color: #66cc99;
}

.post-list a:hover {
    text-decoration: underline;
}

.post-meta {
    color: #828282;
}

.avatar>img {
    float: left;
    margin-right: 1em;
}

blockquote>div {
    padding-left: 7px;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
}

img,
object,
svg,
video {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: auto;
}

/* Code Blocks */

code {
    font-family: 'JetBrains Mono', monospace;
}

pre {
    overflow-x: auto;
    border-radius: 0.5em;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
}

pre code {
    font-weight: 100;
    font-size: 0.8em;
    display: block;
    padding: 0.5em;
    clear: both;
}

p code {
    font-weight: 100;
    font-size: 0.7em;
    padding: 0.2em;
    background-color: #f8f8f8;
    border: 1px solid #dbdada;
    border-radius: 0.2em;
}

.lang-tag {
    float: left;
    display: block;
    font-weight: bold;
    padding: 0.2em 0.5em;
    text-transform: capitalize;
    color: #a04100;
    background: #ffd1ac;
    border-radius: 0 0 8px 0;
}

.tip {
    background-color: aquamarine;
    padding: 1em;
    border-radius: 0.5em;
    border: 0.1em solid antiquewhite;
    margin-bottom: 0.1em;
}

.openblock {
    border-radius: 0.4em;
    padding: 0 0.7em;
}

.note {
    background-color: #ffd1ac6c;
    border: 2px solid #ffd1ac;
}

.warn {
    background-color: #fdfb723a;
    border: 2px solid #fdfa72;
}

main {
    margin: 0 10px;
}

/* PROJECT SECTION */

.project h2 {
    margin: 25px 0 0 0;
}

.project span {
    margin-right: 5px;
}

.project p {
    margin: 10px 0 0 0;
    color: #828282;
}

.position h3 {
    margin: 25px 0 0 0;
}

.position h4 {
    margin: 0 0 5px 0;
    color: #555353;
}

.position span {
    margin-right: 10px;
}

.position p {
    color: #828282;
    margin-top: 0;
}

.position ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style: circle;
}

#year {
    font-size: 3rem;
    font-weight: 600;
    margin-top: 0.7em;
}

.dialog {
    display: flex;
    flex-direction: row;
    font-size: 1.2rem; 
    margin: 10px 0px;
}

.dialog p {
    margin: 10px;
    text-align: justify;
}

.dialog.matt {
    flex-direction: row-reverse;
}

.dialog .dialog-head {
    align-self: flex-start;
    flex-basis: 48px;
    width: 48px;
    height: 48px;
    margin: 0.2rem 0.4rem;
    flex-shrink: 0;
}

.dialog.matt .dialog-head {
    flex-basis: 68px;
    width: 68px;
    height: 68px;
}

.dialog .dialog-text {
    max-width: 400px;
    line-height: 1.3;
    border-radius: 14px;
    padding: 0rem 0.8rem;
    overflow: hidden;
    margin: 0;  
}

.dialog.matt .dialog-text {
    background-color: #e3e3e333;
    border: #e3e3e3 1px solid;
}

.dialog.cop .dialog-text {
    background-color: #FFCD0233;
    border: #FFCD02 1px solid;
}

.dialog.professor .dialog-text {
    background-color: #66cc9933;
    border: #72cc66 1px solid;
}