---
layout: default
---

<ul class="post-list">
    {% for post in site.posts %}
        {% if post.hidden == null or post.hidden == false %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                <li id="year">{{ currentdate }}</li>
                {% assign date = currentdate %}
            {% endif %}
            <li>
                <div class="post-meta">
                    <span class="post-meta-date">{{ post.date | date: "%B %-d" }}</span>
                    {% if post.serie %}
                    <span class="post-meta-badge">{{ post.serie.name }}</span>
                    {% endif %}
                </div>
                <h2>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </h2>
            </li>
        {% endif %}
    {% endfor %}
</ul>
