---
layout: default
---
<ul class="post-list">
    {% for post in site.posts %}
        {% if post.hidden == null or post.hidden == false %}
            {% assign currentdate = post.date | date: "%Y" %}
            {% if currentdate != date %}
                <li id="year">{{ currentdate }}</li>
            {% assign date = currentdate %}
            {% endif %}
            <li>
                <span class="post-meta">{{ post.date | date: "%B %-d" }}</span>
                <h2>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
            </li>
        {% endif %}
    {% endfor %}
</ul>
