---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  <div class="post-meta sect1">{{ page.date | date: "%b %-d, %Y" }}</div>
  {{ content }}
  <div class="patreon-block">
    <h2>Enjoyed the read?</h2>
    <p>If you enjoy my writing, please check out my Patreon 
      <b><a href="https://www.patreon.com/mattrighetti">patreon.com/mattrighetti</a></b>
      and become my supporter. Sharing the article is also greatly appreciated.</p>
  </div>
</article>

<script>
    function renderCodeTags() {
        const collection = document.getElementsByClassName("rouge highlight");

        for (let i = 0; i < collection.length; i++) {
        let cNode = collection[i].firstChild;
        let lang = cNode.getAttribute("data-lang");

        let newNode = document.createElement("div");
        newNode.className = "lang-tag";
        newNode.innerHTML += lang;

        collection[i].insertBefore(newNode, cNode);
        }
    }

    renderCodeTags()
</script>
