---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  {% if page.series %}
  <h3>Serie: {{page.series.name}}</h3>
  {% endif %}
  <div class="post-meta sect1">
    {{ page.date | date: "%b %-d, %Y" }}
  </div>
  {% if page.hn %}<div class="discuss-on-hn"><a href="https://news.ycombinator.com/item?id={{ page.hn }}">Discuss on HN</a></div>{% endif %}
  {{ content }}
  {% if page.show_patreon %}
  <div class="patreon-block">
    <h2>Enjoyed the read?</h2>
    <p>If you enjoy my writing, please check out my Patreon
      <b><a href="https://www.patreon.com/mattrighetti">patreon.com/mattrighetti</a></b>
      and become my supporter. Sharing the article is also greatly appreciated.</p>
  </div>
  {% endif %}
</article>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<script>
    function renderCodeTags() {
        const codeblocks = document.querySelectorAll('.listingblock>.content>.highlight');

        for (let i = 0; i < codeblocks.length; i++) {
            let cNode = codeblocks[i].firstChild;
            let lang = cNode.getAttribute("data-lang");

            let newNode = document.createElement("div");
            newNode.className = "lang-tag";
            newNode.innerHTML += lang;

            codeblocks[i].insertBefore(newNode, cNode);
        }
    }

    renderCodeTags()
</script>
